p This site is made as the second laboration for the course DD1368: Database Technology. It's made in Sinatra using slim and sqlite by Erlindst. Cheers.

p To set or update grades, go to /recitations/#/claims/admin

p Group c is used to showcase recitation one. Group d for recitation two.